* {
    box-sizing: border-box;
}
/*html{
    font-size:100%;
}*/
body {
    font-family: 'montserrrat', sans-serif;
    margin: 0px;
}
.backdrop{
    position:absolute;
    display:none;
    top:0px;
    left:0px;
    z-index: 100%;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
}

.main-header>div {
    display: inline-block;
}
.main-header {
    width: 100%;
    background: #3B5998;
    padding: 8px 16px;
    position: fixed;
    top:0;
    left:0;
}
.main-header_brand {
    color: green;
    text-decoration: none;
    font-weight: bold;
}
.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 55px);
    vertical-align: center;
}
.main-nav_items {
    margin: 0;
    padding: 0;
    list-style: none;
    color: green;
}
.main-nav_item {
    display: inline-block;
    margin: 0 16px;
}
.main-nav_item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding:3px 0;
}
.main-nav_item a:hover,
.main-nav_item a:active {
    color: white;
    border-bottom: 2px solid white;
}
.main-nav__item--cta a{
    color:white;
    background:#ff1b68;
    padding:8px 16px;
    border-radius:8px;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    color:#ff1b68;
    background:white;
}

.main-footer{
    background:black;
    color:white;
   padding:32px;
   margin-top:48px; 
   
}
.main-footer__links{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.main-footer__link {
display: inline-block;
margin: 0 16px;
}
.main-footer__link a{
    color:white;
    text-decoration: none;
}
.main-footer__link a:hover,
.main-footer__link a:avtive{
    color:#ccc;
}
.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 2px solid #0e4f1f;
    padding: 4px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}